::selection {
  color: #38b5ea
}

.player-music {
  background-color: #111827 !important;
}

.active {
  color: #5bdec0;
  background-color:rgb(71 85 105 );
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}